# Firebase
backend/service-account.json
backend/src/firebase/service-account.json

#data
backend/src/data

#scripts
backend/src/scripts

# Env
backend/.env
frontend/.env

# Node
frontend/node_modules
backend/node_modules

# Build
frontend/dist
backend/dist